*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.psd
.DS_Store
Thumbs.db
.cache
.project
.pydevproject
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
_notes
dwsync.xml
*.komodoproject
.komodotools
.hg
.svn
.CVS
intermediate
publish
design
.idea

# Python
*.py[co]
env
*.egg
*.egg-info
dist
eggs
parts
var
sdist
develop-eggs
.installed.cfg
pip-log.txt
.coverage
.tox
*.mo
.mr.developer.cfg
*.log
*.pot
*.pyc
local_settings.py
node_modules
*.db
collected-static/*
uploads/*
!collected-static/.gitkeep
!uploads/README
*.local.py
MANIFEST
.vagrant
celerybeat.pid
*.sw[op]
nohup.out
project/settings/hosts/localhost.py
settings.json
build
src/javascript/manifest.json
